{% extends "blog/base.html" %}
{% block content %}
    <h2>Sei uscito dal tuo account</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Entra nuovamente</a>
        </small>
    </div>
{% endblock content %}